.doc {
    padding-left: 250px;
    padding-top: 60px;
}

.sidebar {
    float: left;
    width: 250px;
    min-height: 1px;
    background-color: #fff;
    padding: 0;
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 60px;
}

.offcanvasActive {
  width: 100%;
  overflow: hidden;
}


/* Modal */

.modal {
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.modalShow {
    opacity: 1;
    visibility: visible;
}

.modalIcon {
    font-size: 80px;
    color: #c9dae1;
}

.modalOuter {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 478px;
    width: 90%;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    z-index: 99999;
    position: relative
}

.searchModalHead {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.searchModalHead input {
    width: 100%;
    vertical-align: top;
    border: 0;
    outline: 0;
    font-size: 18px;
    padding: 12px 10px;
    color: #909090;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.searchModalClose {
    position: absolute;
    right: -14px;
    top: -10px;
    background: #21d2cc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    padding: 5px 0;
    cursor: pointer;
}

.seachModal .modalOuter {
    background-color: #eaf3f3;
    text-align: left;
    padding-top: 45px;
}

.search {
    max-height: 70vh;
    overflow: scroll;
    padding: 0 0 20px;
}

.modalTitle {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 5px 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 40px;
    display: block;
}

.modalDescription {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.modalInput input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 30px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    transition: all 0.3s;
}

.modalInput input:focus {
    outline: none;
    box-shadow: 0px 0px 3px #c4e6f5;
    border: 1px solid #b4dbed;
}

.modalButton button {
    background-color: #8CD4F5;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}

.modalButton .modalCancelButton {
    background-color: #b9b9b9;
}

.modalButton .modalEnter {}

.title {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #13A99E;
    cursor: pointer;
}

.searchItem, .searchNotFound {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.searchNotFound {
    border: 0;
    text-align: center
}

.item p {
    margin: 0;
}


/* Mobile media query */

@media (max-width: 480px) {
    .doc {
        padding: 0;
        padding-top: 60px;
    }
    .content {
        transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        transition: transform 0.4s, -webkit-transform 0.4s;
    }
    .contentPushRight {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
    }
    .sidebar {
        padding-top: 60px;
        transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        transition: transform 0.4s, -webkit-transform 0.4s;
        -webkit-transform: translateX(-250px);
        transform: translateX(-250px);
    }
    .sideBarActive {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    .hamburger {
        display: block;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        padding: 21px 20px;
    }
}
